.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 20px;
    cursor: pointer;
    
}
.grid-item {
    width: 50px;
    height: 50px;
}
.redondeado {
    border-radius: 20%;
}
.redondo {
    border-radius: 50%;
}
.columna1 {
    background-color: #C9C;
    border: 3px dotted #F99;
}
.columna2 {
    background-color: #C9F;
    border: 3px dashed #C9C;
}
.columna3 {
    background-color: #F9F;
    border: 3px solid #C9F;
}
.columna4 {
    background-color: #F9C;
    border: 3px dashed #F9F;
}
.columna5 {
    background-color: #F99;
    border: 3px dotted #F9C;
}