table {
    width: 100%;
    border-collapse: collapse;
}
caption {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bolder;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #090;
    color: #fff;
}